############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# Maven
############################
target/

############################
# Vaadin
############################
node_modules/
frontend/generated/
target/frontend/
vite.generated.ts
pnpm-lock.yaml
package-lock.json
webpack.generated.js
vite.config.ts
types.d.ts

############################
# Logs
############################
*.log
logs/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Environment / Secrets
############################
*.env
.env.*
application-local.yml
application-local.properties
/src/main/frontend/generated/css.generated.js
/src/main/bundles/dev.bundle
/src/main/frontend/generated/flow/Flow.tsx
/src/main/frontend/generated/jsx-dev-transform/index.ts
/src/main/frontend/generated/index.tsx
/src/main/frontend/generated/jsx-dev-transform/jsx-dev-runtime.ts
/src/main/frontend/generated/jsx-dev-transform/jsx-runtime.ts
/src/main/frontend/generated/layouts.json
/package.json
/src/main/frontend/generated/flow/ReactAdapter.tsx
/src/main/bundles/README.md
/src/main/frontend/generated/routes.tsx
/tsconfig.json
/src/main/frontend/generated/vaadin-react.tsx
/src/main/frontend/generated/vite-devmode.ts
